i've got your picture
that you gave to me
and it's still <a href="http://grooveshark.com/s/She+s+Got+You/2HJrlF?src=5">signed with love</a>
just like it used to be
the only thing different
the only thing new
